﻿/* Advantages */

.advantages {
	border-top: 2px solid #f8dbda;
	padding: 30px 0;
}

.advantages li {
	float: left;
	margin: 75px 26px 0 0;
	text-align: center;
	width: 230px;
}

.advantages li:last-child { margin-right: 0; }

.advantages strong {
	background: url(../images/bg-advantages.png) no-repeat center 0;
	padding-top: 75px;
	color: #079bd3;
	font: normal 14px "Gotham Rounded Bold";
	position: relative;
}

@-webkit-keyframes spinning {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

.advantages strong:hover .icon {
	-webkit-animation: spinning 2s linear 0 infinite;
	   -moz-animation: spinning 2s linear 0 infinite;
	        animation: spinning 2s linear 0 infinite;
}

.advantages .icon {
	left: 47%;
	max-width: 100%;
	position: absolute;
	top: 27%;
}

.advantages .icon-2,
.advantages .icon-3 { left: 42%; }

.advantages .icon-4 { left: 46%; }

.advantages p { color: #999696; }