﻿/* Footer */

.footer {
	background: #47b6de;
  border-top: 2px solid #0577a1;
	padding: 30px 0;
	height: 164px;
}

.payment-contact {
	height: 88px;
	position: relative;
}

.payment {
	font: normal 14px "Gotham Rounded Book";
	left: 0;
	position: absolute;
	-moz-text-shadow: 0 2px 0 rgba(0,0,0,.25);
			 text-shadow: 0 2px 0 rgba(0,0,0,.25);
	top: 0;
	width: 170px;
}

.payment span {
	font: normal 14px "Gotham Rounded Bold";
}

.box-contact {
	position: absolute;
	top: 0;
	right: 0;
}

.box-contact p {
	font: normal 14px "Gotham Rounded Bold";
	-moz-text-shadow: 0 2px 0 rgba(0,0,0,.25);
			 text-shadow: 0 2px 0 rgba(0,0,0,.25);
}

.contact {
text-align: center;
margin-top: 12px
}

.contact li {
	display: inline;
}

.contact a {
	background: url(../images/redes-sociais.png) no-repeat;
	display: inline-block;
	height: 30px;
	margin-right: 12px;
	overflow: hidden;
	text-indent: 100%;
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
	        transition: all .3s linear;
	white-space: nowrap;
	width: 26px;
}

.contact a:hover {
	opacity: .5;
}

.contact li:last-child a {
	margin-right: 0;
}

.contact .facebook {
	background-position: -37px 0;
}

.contact .google-plus {
	background-position: -75px 0;
}

.sub-footer {
	border-top: 1px solid #6ec6e5;
	position: relative;
}

.sub-footer .logo {
	background: url(../images/logo-simulando-footer.png) no-repeat;
	display: block;
	height: 43px;
	left: 0;
	overflow: hidden;
	position: absolute;
	text-indent: 100%;
	top: 20px;
	white-space: nowrap;
	width: 100px;
}

.sub-footer ul {
	position: absolute;
	right: 0;
	top: 30px;
}

.sub-footer li {
	display: inline;
}

.sub-footer li,
.sub-footer a {
	color: #fff;
	display: inline-block;
	font: normal 12px "Gotham Rounded Light";
	-moz-text-shadow: 0 2px 0 rgba(0,0,0,.25);
			 text-shadow: 0 2px 0 rgba(0,0,0,.25);
	text-transform: none;
}

.sub-footer li {
	font-family: "Gotham Rounded Medium";
	text-transform: uppercase;
}

.sub-footer li::after {
	content: ".";
	position: relative;
	top: -2px;
}

.sub-footer li:nth-child(3)::after,
.sub-footer li:nth-child(4)::after {
	content: "";
}

.sub-footer a:hover { text-decoration: underline; }