﻿/* Header */

.header {
	background: #079bd3;
	border-bottom: 2px solid #0577a1;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.header .container {
	background: url(../images/bg-header.jpg) no-repeat;
	height: 365px;
}

.header .logo {
	background: url(../images/logo-simulando.png) no-repeat;
	display: block;
	height: 118px;
	left: 0;
	overflow: hidden;
	position: absolute;
	text-indent: 100%;
	top: 20px;
	white-space: nowrap;
	width: 73px;
}

.menu {
	position: absolute;
	right: 0;
	top: 20px;
}

.menu li { display: inline; }

.menu a {
	border: 2px solid transparent;
	border-radius: 4px;
	display: inline-block;
	color: #fff;
	display: inline-block;
	font-family: "Gotham Rounded Light";
	font-size: .875em; /* 14px / 16px */
	padding: 8px 15px;
	-moz-text-shadow: 0 2px 0 rgba(0,0,0,.25);
	     text-shadow: 0 2px 0 rgba(0,0,0,.25);
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
	        transition: all .3s linear;
}

.menu a:hover {
	border: 2px solid #fff;
	color: #fff;
}

.menu .signup {
	border: 2px solid #fff;
}

.menu .signup:hover {
	color: #079bd3;
	background: #fff;
	border: 2px solid #fff;
	-webkit-text-shadow: 0 0 0 rgba(0,0,0,.25);
	   -moz-text-shadow: 0 0 0 rgba(0,0,0,.25);
	        text-shadow: 0 0 0 rgba(0,0,0,.25);
}

.highlights {
	position: relative;
	top: 170px;
}

.highlights div:first-child {
	width: 420px;
}

.highlights h1 {
	font-size: 22px;
	font-weight: normal;
	float: left;
	-moz-text-shadow: 0 2px 0 rgba(0,0,0,.25);
	     text-shadow: 0 2px 0 rgba(0,0,0,.25);
}

.highlights h1 strong { font-family: "Gotham Rounded Bold"; }

.highlights .btn {
	clear: left;
	background: #f7f2f2;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 0 rgba(0,0,0,.25);
	   -moz-box-shadow: 0 2px 0 rgba(0,0,0,.25);
	        box-shadow: 0 2px 0 rgba(0,0,0,.25);
	color: #47b6de;
	float: left;
	margin-top: 20px;
	padding: 25px 52px;
	font-family: "Open Sans Light";
	font-size: 16px;
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
	        transition: all .3s linear;
}

.highlights .btn:hover { background: #ede8e8; }

.slides {
	position: absolute;
	right: 0;
	top: -10px;
	background: url(../images/macbook-facing.png) no-repeat;
	height: 214px;
	width: 372px;
	text-align: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.slides img {
	height: 181px;
	left: 44px;
	position: absolute;
	top: 8px;
	width: 286px;
}