﻿/* News */

.news {
	border-top: 2px solid #fbf8f8;
	padding: 30px 0;
	position: relative;
}

.news .box-news {
	/*text-align: center;
	position: relative;
	z-index: 1;*/
}

.news .item {
	/*margin: 0 52px !important;*/
	/*width: 570px !important;*/
}

.news .gauzy {
	width: 285px;
	display: none;
	height: 515px;
	position: absolute;
	z-index: 2;
	left: 550px;
	top: 104px;
	background: rgba(255,255,255,.9);
}

.news .gauzy-end {
	display: none;
	left: 0;
	display: none;
}

.box-image-news {
	height: 298px;
}

.box-image-news img {
	border-bottom: 3px solid #47b6de;
	width: 100%;
	width: 570px;
}

.box-content-news {
	margin-top: 28px;
}

.date-like {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
	padding: 0 10px;
	width: 80px;
}

.date-like .date {
	font: normal 18px "Gotham Rounded Bold";
	padding-bottom: 18px;
	color: rgba(26,25,25,.5);
	border-bottom: 1px solid #e5e5e5;
}

.date-like .date .day {
	font-size: 32px;
}

.date-like .like {
	display: block;
	margin-top: 22px;
	opacity: .2;
	background: url("../images/icon-like.png") no-repeat center top;
	color: #000;
	font: normal 16px "Gotham Rounded Light";
	padding-top: 20px;
	transition: opacity .2s linear;
}

.date-like .like:hover {
	opacity: .8;
}

.content-news {
	border-left: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	float: right;
	padding: 0 20px;
	width: 486px;
	text-align: justify;
}

.content-news .title-post {
	color: #1a1919;
	font: normal 24px "Gotham Rounded Book";
	text-align: justify;
	margin-bottom: 0;
}

.content-news .author-post {
	color: #b8b4b4;
	font: normal 13px "Gotham Rounded Light";
	margin: 15px 0;
}

.content-news .author-post strong {
	color: #47b6de;
	font-weight: normal;
}

.content-news .content-post,
.content-news .content-post p {
	color: #807d7d;
	font: normal 16px "Gotham Rounded Book";
}

.content-news .leia-mais {
	background: url("../images/arrow-right.png") no-repeat 0 1px;
	color: rgba(26,25,25,1);
	float: left;
	font: normal 12px "Gotham Rounded Light";
	margin-top: 15px;
	padding-left: 20px;
}

.content-news .leia-mais:hover {
	text-decoration: underline;
}