﻿/* Newsletter */

.newsletter {
	background: #f7f2f2;
	height: 202px;
	padding: 30px 0;
}

.newsletter .btn-facebook {
	height: 56px;
	left: 10%;
	position: absolute;
	top: 105px;
	width: 296px;
}

.newsletter .btn-facebook img { max-width: 100%; }

.newsletter .separator {
	position: absolute;
	right: 50%;
}

.newsletter form {
	position: absolute;
	right: 10%;
	top: 80px;
}

.newsletter input[type="email"] {
	background: #fff;
	border: 1px inset rgba(0,0,0,.15);
	border-radius: 3px;
	-webkit-box-shadow: 0 0 0 4px rgba(0,0,0,.03);
	   -moz-box-shadow: 0 0 0 4px rgba(0,0,0,.03);
	        box-shadow: 0 0 0 4px rgba(0,0,0,.03);
  color: #d6d6d6;
  font-family: "Gotham Rounded Light";
  font-size: 16px;
	height: 42px;
	padding: 0 10px;
	position: absolute;
	right: 0;
	top: 0;
	width: 294px;
}

.newsletter input[type="submit"] {
	background: #47b6de;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	text-align: center;
	font: normal 16px "Open Sans Light";
	height: 44px;
	position: absolute;
	right: 0;
	top: 60px;
	width: 316px;
}

