﻿/* Imports */

@import	url("header.css");
@import	url("advantages.css");
@import	url("simulated.css");
@import	url("news.css");
@import	url("newsletter.css");
@import	url("footer.css");


/* Reset */

* {
	border: 0 none;
	margin: 0;
	padding: 0;
}

li { list-style: none; }

/* Geral */

a { text-decoration: none; }

a:hover { text-decoration: none; }

body {
	color: #fff;
	font: normal normal 100% "Gotham Rounded Book";
	text-align: justify;
}

section h1 {
	color: #999696;
	font-family: "Gotham Rounded Book";
	font-size: 32px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 36px;
}

h1 strong {
	font-family: "Gotham Rounded Bold";
	font-weight: normal;
}

/* ClearFix */

.clearfix:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility: hidden;
}

* html .clearfix { height: 1%; }

.clearfix { display: block; }

/* Container */

.container {
	margin: 0 auto;
	position: relative;
	width: 1000px;
}