﻿/* Simulated */

.simulated {
	border-top: 2px solid #f1e9e9;
	border-bottom: 2px solid #f1e9e9;
	background: #f7f2f2;
	padding: 30px 0;
}

.simulated li {
	border: 1px solid #f1e9e9;
	border-bottom: 3px solid #f1e9e9;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
	margin: 0 16px 16px 0;
	width: 322px;
}

.simulated li:nth-child(3n) {
	margin-right: 0;
}

.simulated li:nth-child(7),
.simulated li:nth-child(8),
.simulated li:nth-child(9) {
	margin-bottom: 0;
}

.simulated .cover-image {
	border-bottom: 4px solid #47b6de;
	display: block;
	height: 180px;
	width: 100%;
}

.simulated .cover-image img {
	width: 100%;
}

.simulated .box-content {
	background: #fff;
	border-bottom: 1px solid #f1e9e9;
	padding: 12px;
	float: left;
	text-align: center;
}

.simulated .box-edital-vagas {
	background: #fff;
	border-bottom: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
	padding: 12px;
	width: 100%;
}

.simulated .title-simulated {
	color: #1d98c4;
	text-transform: uppercase;
	font: normal 16px "Gotham Rounded Bold";
}

.simulated p {
	color: #999696;
	font-family: "Gotham Rounded Book";
	font-size: 15px;
	text-align: left;
	padding: 14px 0;
}

.simulated .edital {
	color: #999696;
	float: left;
	font-size: 14px;
	font-family: "Gotham Rounded Book";
	-webkit-transition: color .2s linear;
	   -moz-transition: color .2s linear;
	        transition: color .2s linear;
}

.simulated .edital:hover { color: #545252; }

.simulated .vagas {
	color: #47b6de;
	font-family: "Gotham Rounded Book";
	font-size: 14px;
	float: right;
}