/* Aside */

.aside {
	background: #28667d;
	right: 0;
	position: fixed;
	width: 18%;
	height: 100%;
}

.status {
	background: #2f7791;
	padding: 0 10px;
	height: 114px;
}

.user { float: left; }

.user .user-image {
	border: 2px solid #2F7791;
	box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.2);
	border-radius: 30px;
	float: left;
	margin-right: 10px;
	margin-top: 26px;
}

.user .user-name {
	margin-top: 42px;
	float: left;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}

.user .user-status {
	color: #aedaeb;
	font-size: 12px;
}

.box-search-user {
	background: #296c85;
	border-bottom: 1px solid #235c70;
	height: 66px;
}

.search-user {
	padding: 10px;
	height: 46px;
	position: relative;
}

.search-user :-moz-placeholder { color: #aedaeb; }
.search-user :-ms-input-placeholder { color: #aedaeb; }
.search-user ::-moz-placeholder { color: #aedaeb; }
.search-user ::-webkit-input-placeholder { color: #aedaeb; }

.search-user input[type="text"] {
	position: absolute;
	left: 10px;
	top: 16px;
	color: #aedaeb;
	font-family: "Gotham Rounded Light";
	font-size: 14px;
	padding: 10px 10px 10px 40px;
	width: 170px;
	background: #296c85 url("../images/search2.png") 5px center no-repeat;
}

.friends {
	padding: 0 10px;
	background: #28667d;
	height: 450px;
	overflow-y: hidden;
}

.friends:hover { overflow-y: auto; }

.friends::-webkit-scrollbar { width: 10px; }

.friends::-webkit-scrollbar-track { background-color: #28667d; }

.friends::-webkit-scrollbar-thumb {
	background-color: #1c4a5c;
	border-radius: 10px;
}

/*.friends:hover { overflow-y: auto; }*/

.friends li {
	clear: left;
	margin-top: 15px;
}

.friends li:last-child { margin-bottom: 15px; }

.friends .offline { opacity: .2; }

.friends a {
	color: #fff;
	font-family: "Gotham Rounded Medium";
	font-size: 15px;
	display: block;
}

.friends a:hover img {
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	        transition: all .2s linear;
	box-shadow: 0px 0px 0px 3px rgba(35, 236, 78, .8);
	border-radius: 30px;
}

.friends .offline a:hover img { box-shadow: none; }

.friends img {
	vertical-align: middle;
	margin-right: 10px;
}

.add-user {
	background: #22596e;
	text-align: center;
	display: block;
	height: 44px;
	bottom: 0;
	width: 100%;
	position: absolute;
}

.add-user img {
	height: 19px;
	margin-top: 16px;
	width: 19px;
}