﻿/* Main */

.main {
	background: #f2f6f7;
	left: 18%;
	position: absolute;
	width: 64%;
	/*height: 650px;*/
	height: 716px;
	-webkit-transition: all .3s linear;
}

.main-retractile {
	left: 5.5%;
	width: 76.5%;
}

.main-menu {
	background: #fff;
	padding: 57px 24px;
}

.main-menu li {
	float: left;
	margin-right: 55px;
}

.main-menu li:last-child { margin-right: 0; }

.main-menu a {
	color: #99b5bf;
	font-size: 35px;
	font-weight: normal;
	font-family: "Gotham Rounded Light";
}

.main-menu a:hover,
.main-menu a.active {
	color: #3d8aa6;
}

.box-search {
	background: #e6f1f5;
	height: 66px;
	position: relative;
}

.search input[type="text"] {
	position: absolute;
	left: 10px;
	top: 16px;
	color: #749aa8;
	font-family: "Gotham Rounded Light";
	font-size: 14px;
	padding: 10px 10px 10px 40px;
	width: 300px;
	background: #e6f1f5 url("../images/search.png") 5px center no-repeat;
}

.search select {
	color: #749aa8;
	font-family: "Gotham Rounded Light";
	font-size: 14px;
	position: absolute;
	right: 10px;
	top: 13px;
	padding: 12px 10px;
	background: #dae8ed;
}

.content {
	padding: 9px;
	position: relative;
	z-index: 0;
	top: 185px;
}

.box {
	background: #fff;
	padding: 5px;
	border: 1px solid #e8eff1;
	box-shadow: 3px 3px 0px 0px #e8eff1;
	float: left;
	margin: 6px;
}

.box h2 {
	font-family: "Gotham Rounded Bold";
	color: #3b86a1;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 12px;
}

.col2 {
	width: 398px;
	width: 47.1%;
	height: 268px;
}

.col3 {
	width: 398px;
	width: 47.1%;
	height: 122px;
}

.col4 {
	width: 820px;
	width: 97%;
	height: 140px;
}