﻿/* Nav */

.nav {
	background: #40A5C9;
	left: 0;
	width: 18%;
	position: fixed;
	height: 100%;
	-webkit-transition: all .3s linear;
}

.nav-retractile { width: 5.5%; }

.header {
	background: #47b6de;
	/*padding: 16px 86px;*/
	height: 114px;
}

.logo { text-align: center; }

.logo a {
	background: url("../images/logo-simulando.png") no-repeat;
	display: inline-block;
	height: 76px;
	margin-top: 18px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: 67px;
	width: 68px;
}

.nav-retractile .logo a {
  background-size: cover;
  height: 58px;
  margin-top: 28px;
  width: 51px;
	-webkit-transition: all .3s linear;
}

.box-toogle-nav {
	background: #41abd1;
	height: 66px;
	text-align: center;
}

.toogle-nav {
	height: 23px;
	width: 21px;
	display: inline-block;
	margin-top: 28px;
}

.toogle-nav img { width: 100%; }

.menu {
	background: #40a5c9;
	height: 100%;
}

.menu::before {
	content: " ";
	position: absolute;
	z-index: 1;
	width: 72px;
	height: 100%;
	background: #3a98ba;
}

.menu ul {
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.menu a {
	border-top: 1px solid #358bab;
	background: url(../images/icon.png) 24px center no-repeat;
	color: #fff;
	display: block;
	font-family: "Gotham Rounded Bold";
	text-transform: uppercase;
	font-size: 14px;
	padding: 18px 0 18px 85px;
	max-height: 72px;
	box-sizing: border-box;
}

.menu span {
	text-transform: capitalize;
	color: #aedaeb;
	margin-top: 4px;
	font-size: 12px;
	font-family: "Gotham Rounded Book";
	display: block;
}



















