﻿/* Imports */

@import	url("nav.css");
@import	url("main.css");
@import	url("aside.css");
@import	url("footer.css");

/* Reset */

* {
	border: 0 none;
	margin: 0;
	padding: 0;
}

li { list-style: none; }

/* Geral */

a { text-decoration: none; }

a:hover { text-decoration: none; }

body {
	background: #f2f6f7;
	font: normal normal 100% "Gotham Rounded Book";
	text-align: justify;
}

/* ClearFix */

.clearfix:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility: hidden;
}

* html .clearfix { height: 1%; }

.clearfix { display: block; }

/* Container */

.container {
	margin: 0 auto;
	position: relative;
	width: 100%;
}

.box-fidex {
	position: fixed;
	width: inherit;
	z-index: 1;
}
